#welcome {
    background-image: url(../Animation-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 22rem;
    padding-bottom: 22rem;
}
.text {
    font-size: 30px;
    font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}
